<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="MobileOptimized" content="width" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@loadays" />
	<meta name="twitter:creator" content="@loadays" />
	<meta name="twitter:title" content="{{- .Title | plainify | htmlUnescape -}}" />
	<meta name="twitter:description" content="{{- .Content | plainify | htmlUnescape -}}" />
	{{ if (isset .Params "image") }}
		<meta name="twitter:image" content="{{- .Params.image -}}" />
		<meta name="twitter:image:alt" content="LOADays" />
	{{ else if (isset .Params "speaker") }}
		{{- $speaker := .Param "speaker" -}}
		{{- $speakerfile := printf "%s/%s" "speaker" $speaker -}}
		{{- with .Site.GetPage $speakerfile -}}
			{{ if isset .Params "image" }}
				{{ $image := .Param "image" }}
				{{ $imageurl := urls.Parse $image }}
				{{ if eq $imageurl.Scheme "https" }}
					<meta name="twitter:image" content="{{ $imageurl }}" />
				{{ else }}
					{{ $imagelocation := (printf "%s/%s" "images/speakers/" $image) }}
					{{ $imageresource := resources.Get $imagelocation }}
					{{ $imagefile := $imageresource.Fit "400x400" }}
					<meta name="twitter:image" content="{{ $imagefile.Permalink }}" />
				{{ end }}
			{{- end -}}
			<meta name="twitter:image:alt" content="{{ .Title }}" />
		{{- end -}}
	{{ else }}
		<meta name="twitter:image" content="https://loadays.org/images/loadays.png" />
		<meta name="twitter:image:alt" content="LOADays" />
	{{ end }}
	{{ $stylesheetstylecss := resources.Get "css/style.css" }}
	{{ $stylesheetcss := $stylesheetstylecss | resources.Minify }}
	<link href="{{ $stylesheetcss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	{{ $responsivestylecss := resources.Get "css/responsive.css" }}
	{{ $responsivecss := $responsivestylecss | resources.Minify }}
	<link href="{{ $responsivecss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	{{ $bootstrapstylecss := resources.Get "css/bootstrap.css" }}
	{{ $bootstrapcss := $bootstrapstylecss | resources.Minify }}
	<link href="{{ $bootstrapcss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	{{ $animatestylecss := resources.Get "css/animate.css" }}
	{{ $animatecss := $animatestylecss | resources.Minify }}
	<link href="{{ $animatecss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	{{ $linericonstylecss := resources.Get "css/linericon.css" }}
	{{ $linericoncss := $linericonstylecss | resources.Minify }}
	<link href="{{ $linericoncss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	{{ $lightboxstylecss := resources.Get "css/simplelightbox.css" }}
	{{ $lightboxcss := $lightboxstylecss | resources.Minify }}
	<link href="{{ $lightboxcss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	{{ $niceselectstylecss := resources.Get "css/nice-select.css" }}
	{{ $niceselectcss := $niceselectstylecss | resources.Minify }}
	<link href="{{ $niceselectcss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}">
	<link rel="stylesheet" href="{{ "/css/owl.carousel.min.css" | relURL }}">
	<title>{{ .Title }}</title>
	<link rel="icon" href="{{ "/images/favicon.png" | relURL }}" type="image/png">
</head>
<body>
